<div class="row-fluid">
  <div class="span7">
    <h1><%= @review.title %></h1>
    <div class="well well-large"><%= @review.body %></div>
    <% if @review.image %>
        <div class="well well-large">
          <%= image_tag @review.image.thumb('250x250#').url,
                        alt: 'Image' %>
        </div>
    <% end %>
  </div>

  <div class="span5" id="user-info">
    <% user = @review.user %>
    <h3><%= user.user_name %></h3>
    <%= image_tag user.image, alt: user.user_name %>
    <p><%= link_to 'User\'s profile', user.profile_url,
                   target: '_blank' %></p>


    <div id="vote_block">
    <span class="badge badge-important">
        <%= @review.votes_of_type('down') %>
    </span>
    <span class="badge badge-success">
        <%= @review.votes_of_type('up') %>
    </span>

      <br/>
      <% if current_user %>
          <% if current_user.voted_for?(@review) %>
              <p>Вы уже голосовали за этот отзыв!</p>
          <% else %>
              <%= form_for @vote do |f| %>
                  <%= hidden_field_tag 'review_id', @review.id %>
                  <%= hidden_field_tag 'vote_type', 'down' %>
                  <i class="icon-thumbs-down
                   force_submit_form"></i>
              <% end %>

              <%= form_for @vote do |f| %>
                  <%= hidden_field_tag 'review_id', @review.id %>
                  <%= hidden_field_tag 'vote_type', 'up' %>
                  <i class="icon-thumbs-up
                  force_submit_form"></i>
              <% end %>
          <% end %>
      <% else %>
          <p>Вы должны авторизоваться, чтобы голосовать!</p>
      <% end %>
    </div>
  </div>
</div>

<% if can?(:destroy, ReviewsController) %>
    <div class="row-fluid">
      <%= link_to 'Destroy', review_path(@review),
                  class: 'btn btn-danger',
                  method: :delete, confirm: 'Are you sure? ' %>
    </div>
<% end %>

