<div class="row-fluid">
  <div class="span7">
    <h1><%= @review.title %></h1>
    <div class="well well-large"><%= @review.body %></div>
  </div>

  <div class="span5" id="user-info">
    <% user = @review.user %>
    <h3><%= user.user_name %></h3>
    <%= image_tag user.image, alt: user.user_name %>
    <p><%= link_to 'User\'s profile', user.profile_url,
                   target: '_blank' %></p>


  </div>
</div>

<% if can?(:destroy, ReviewsController) %>
    <div class="row-fluid">
      <%= link_to 'Destroy', review_path(@review),
                  class: 'btn btn-danger',
                  method: :delete, confirm: 'Are you sure? ' %>
    </div>
<% end %>

